In [1]:
import pandas as pd
import json
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [13]:
#skip this here a have a more fancy file further
PAS_detailed = pd.read_pickle('PAS_detailed2_fixed_borough.pkl')

In [5]:
PAS_detailed

,ward,ward_n,SOA1,SOA2,NQ1,NQ2A,NQ2B,NQ2C,NQ2D,NQ2E,...,NQCV18,NQCV29,Q143D,IMDQuartile,ReXQ135,ReQ136,ReNQ147,ReQ150,ReQ139,Year-Month
0,E05009388,Abingdon,E01002812,E02000589,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-01
1,E05009388,Abingdon,E01002812,E02000589,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-01
2,E05009401,Queen's Gate,E01002888,E02000589,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-01
3,E05009401,Queen's Gate,E01002888,E02000589,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-01
4,E05009403,Royal Hospital,E01002901,E02000594,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76393,E05009400,Pembridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,No,4.0,Male,35 to 44,Other,Heterosexual,Full time (31+ hours per week),2021-03-01
76394,E05009396,Golborne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,No,1.0,Female,25 to 34,Black,Heterosexual,Full time (31+ hours per week),2021-03-01
76395,E05000492,Stratford and New Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,No,2.0,Female,35 to 44,Black,Heterosexual,Full time (31+ hours per week),2021-03-01
76396,E05009404,St. Helen's,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,Female,45 to 54,Mixed,Heterosexual,Full time (31+ hours per week),2021-03-01
76397,E05000322,Squirrel's Heath,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,No,4.0,Female,25 to 34,Asian,Heterosexual,House person,2021-03-01

In [6]:
#fixing borough
ward_borough_old = {}
for i, ward in enumerate(PAS_detailed['ward'].unique().tolist()):
    print(i)
    borough = requests.get(f'https://findthatpostcode.uk/areas/{ward}.json').json()['data']['attributes']['parent']
    ward_borough_old[ward] = borough
PAS_detailed['Borough'] = PAS_detailed['ward'].apply(lambda x: ward_borough_old[x])
PAS_detailed.to_pickle('PAS_detailed2_fixed_borough.pkl')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718

In [42]:
borough_name = {}
for i, borough in enumerate(PAS_detailed['Borough'].unique().tolist()):
    print(i)
    borough_name = requests.get(f'https://findthatpostcode.uk/areas/{borough}.json').json()['data']['attributes']['name']
    ward_borough_old[borough] = borough_name
PAS_detailed['Borough name'] = PAS_detailed['Borough'].apply(lambda x: ward_borough_old[x])
PAS_detailed.to_pickle('PAS_detailed2_fixed_borough.pkl')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

In [78]:
PAS_detailed = PAS_detailed.replace({"SQ109CAA":{'Residents Association': np.nan, 'Other': np.nan}})
PAS_detailed["Year"] = PAS_detailed['Year-Month'].apply(lambda x: pd.to_datetime(x).year)
PAS_detailed["Month"] = PAS_detailed['Year-Month'].apply(lambda x: pd.to_datetime(x).month)

In [88]:
important_cols = ["Year-Month", "Year","Month", "ward_n", "ward", "Borough", "Borough name"]

In [89]:
df_1519 = PAS_detailed[important_cols + ["BQ90D", "BQ90B", "BQ90C", "SQ109CAA", 'NQ135BD', 'Q60']][~(PAS_detailed["BQ90D"].isna())&(PAS_detailed["BQ90B"].isin(['In local area', 'Elsewhere in London']))].copy()
df_1519.loc[(df_1519['BQ90D'] == 'Yes')&(df_1519['SQ109CAA'].isna()), 'BQ90D'] = 'No'
df_1519['Reported'] = df_1519['BQ90D']
df_1519['Crime type'] = df_1519['BQ90C']
df_1519['Trust'] = df_1519['NQ135BD']
df_1519['Confidence'] = df_1519['Q60']
df_1519 = df_1519[important_cols + ["Reported", "Crime type", "Trust", "Confidence"]]
df_1519 = df_1519[~(df_1519['Crime type'].isna())&~(df_1519['Trust'].isna())&~(df_1519['Confidence'].isna())]

In [90]:
df_1519

,Year-Month,Year,Month,ward_n,ward,Borough,Borough name,Reported,Crime type,Trust,Confidence
4,2015-05-01,2015,5,Royal Hospital,E05009403,E09000020,Kensington and Chelsea,Yes,Property crime,Strongly agree,Good
21,2015-06-01,2015,6,Courtfield,E05009393,E09000020,Kensington and Chelsea,No,Anti-Social Behaviour,Strongly agree,Excellent
32,2015-04-01,2015,4,Holland,E05009397,E09000020,Kensington and Chelsea,Yes,Other,Tend to agree,Fair
59,2015-04-01,2015,4,Brompton & Hans Town,E05009389,E09000020,Kensington and Chelsea,Yes,Property crime,Tend to agree,Very poor
61,2015-05-01,2015,5,Brompton & Hans Town,E05009389,E09000020,Kensington and Chelsea,No,Anti-Social Behaviour,Neither agree nor disagree,Good
...,...,...,...,...,...,...,...,...,...,...,...
51257,2019-02-01,2019,2,St Helier,E05000562,E09000029,Sutton,Yes,Violent crime,Tend to disagree,Very poor
51261,2019-02-01,2019,2,St Helier,E05000562,E09000029,Sutton,No,Property crime,Tend to agree,Poor
51264,2019-03-01,2019,3,Beddington South,E05000556,E09000029,Sutton,Yes,Property crime,Strongly agree,Good
51265,2019-03-01,2019,3,Wallington South,E05000570,E09000029,Sutton,Yes,Other,Strongly disagree,Poor
51289,2019-03-01,2019,3,The Wrythe,E05000568,E09000029,Sutton,Yes,Property crime,Tend to agree,Poor

In [91]:
df_1921 = PAS_detailed[important_cols + ["BQ90DA", "BQ90D", "BQ90B", "BQ90C", "SQ109CAA", 'NQ135BD', 'Q60']][~(PAS_detailed["BQ90DA"].isna())].copy()
df_1921['Reported'] = df_1921['BQ90DA']
df_1921['Crime type'] = df_1921['BQ90C']
df_1921['Trust'] = df_1921['NQ135BD']
df_1921['Confidence'] = df_1921['Q60']
df_1921 = df_1921[important_cols + ["Reported", "Crime type", "Trust", "Confidence"]]
df_1921 = df_1921[~(df_1921['Crime type'].isna())&~(df_1921['Trust'].isna())&~(df_1921['Confidence'].isna())]

In [92]:
df_1921

,Year-Month,Year,Month,ward_n,ward,Borough,Borough name,Reported,Crime type,Trust,Confidence
51309,2019-06-01,2019,6,Colville,E05009392,E09000020,Kensington and Chelsea,Yes,Violent crime,Tend to agree,Very poor
51320,2019-04-01,2019,4,Notting Dale,E05009399,E09000020,Kensington and Chelsea,Yes,Violent crime,Strongly agree,Fair
51322,2019-04-01,2019,4,Notting Dale,E05009399,E09000020,Kensington and Chelsea,Yes,Harassment,Strongly disagree,Very poor
51324,2019-04-01,2019,4,Notting Dale,E05009399,E09000020,Kensington and Chelsea,Yes,Anti-Social Behaviour,Strongly agree,Fair
51349,2019-04-01,2019,4,Brompton & Hans Town,E05009389,E09000020,Kensington and Chelsea,No,Credit/debit card fraud,Strongly agree,Fair
...,...,...,...,...,...,...,...,...,...,...,...
76345,2021-03-01,2021,3,Thornton Heath,E05011486,E09000008,Croydon,Yes,Property crime,Tend to agree,Very poor
76350,2021-03-01,2021,3,Churchfields,E05011238,E09000026,Redbridge,Yes,Harassment,Tend to agree,Poor
76351,2021-03-01,2021,3,Larkswood,E05000602,E09000031,Waltham Forest,Yes,Anti-Social Behaviour,Strongly disagree,Very poor
76358,2021-03-01,2021,3,River,E05000038,E09000002,Barking and Dagenham,Yes,Harassment,Tend to agree,Poor
76396,2021-03-01,2021,3,St. Helen's,E05009404,E09000020,Kensington and Chelsea,Yes,Other,Strongly agree,Good

In [93]:
df_1521 = pd.concat([df_1519, df_1921])

In [1]:
df_1521

NameError: name 'df_1521' is not defined

In [94]:
df_1521.to_pickle('underreporting_TIM.pkl')

<h1>Important stuff starts here</h1>

In [95]:
df_1521 = pd.read_pickle('underreporting_TIM.pkl')

In [201]:
trust_column_order = ['Strongly agree', 'Tend to agree', 'Neither agree nor disagree', 'Tend to disagree', 'Strongly disagree']
df_1521

,Year-Month,Year,Month,ward_n,ward,Borough,Borough name,Reported,Crime type,Trust,Confidence
4,2015-05-01,2015,5,Royal Hospital,E05009403,E09000020,Kensington and Chelsea,Yes,Property crime,Strongly agree,Good
21,2015-06-01,2015,6,Courtfield,E05009393,E09000020,Kensington and Chelsea,No,Anti-Social Behaviour,Strongly agree,Excellent
32,2015-04-01,2015,4,Holland,E05009397,E09000020,Kensington and Chelsea,Yes,Other,Tend to agree,Fair
59,2015-04-01,2015,4,Brompton & Hans Town,E05009389,E09000020,Kensington and Chelsea,Yes,Property crime,Tend to agree,Very poor
61,2015-05-01,2015,5,Brompton & Hans Town,E05009389,E09000020,Kensington and Chelsea,No,Anti-Social Behaviour,Neither agree nor disagree,Good
...,...,...,...,...,...,...,...,...,...,...,...
76345,2021-03-01,2021,3,Thornton Heath,E05011486,E09000008,Croydon,Yes,Property crime,Tend to agree,Very poor
76350,2021-03-01,2021,3,Churchfields,E05011238,E09000026,Redbridge,Yes,Harassment,Tend to agree,Poor
76351,2021-03-01,2021,3,Larkswood,E05000602,E09000031,Waltham Forest,Yes,Anti-Social Behaviour,Strongly disagree,Very poor
76358,2021-03-01,2021,3,River,E05000038,E09000002,Barking and Dagenham,Yes,Harassment,Tend to agree,Poor
76396,2021-03-01,2021,3,St. Helen's,E05009404,E09000020,Kensington and Chelsea,Yes,Other,Strongly agree,Good

In [202]:
total_reported_trust_df = df_1521.groupby(['Reported', 'Trust']).size().reset_index(name='Count')
total_reported_trust_df.pivot(columns = 'Trust', index='Reported', values='Count').div(total_reported_trust_df.pivot(columns = 'Trust', index='Reported', values='Count').sum(axis=1), axis=0)[trust_column_order]

Trust,Strongly agree,Tend to agree,Neither agree nor disagree,Tend to disagree,Strongly disagree
Reported,,,,,
No,0.278079,0.469791,0.135941,0.068939,0.047250
Yes,0.318107,0.433797,0.121317,0.075803,0.050976

In [217]:
borough_reported_trust_df = df_1521.groupby(['Borough', 'Borough name', 'Reported', 'Trust']).size().reset_index(name='Count')
borough_reported_trust_dict = {}
for borough in borough_reported_trust_df['Borough name'].unique():
    borough_pivot_df = borough_reported_trust_df[borough_reported_trust_df['Borough name']==borough].pivot(columns = 'Trust', index='Reported', values='Count')
    borough_pivot_df.fillna(0, inplace=True)
    borough_pivot_df = borough_pivot_df.reindex(columns=trust_column_order, fill_value=0)
    borough_pivot_df = borough_pivot_df.div(borough_pivot_df.sum(axis=1), axis=0)
    borough_reported_trust_dict[borough] = borough_pivot_df

In [218]:
borough_reported_trust_dict['Westminster']

Trust,Strongly agree,Tend to agree,Neither agree nor disagree,Tend to disagree,Strongly disagree
Reported,,,,,
No,0.302632,0.434211,0.157895,0.052632,0.052632
Yes,0.374194,0.406452,0.103226,0.064516,0.051613

In [219]:
ward_reported_trust_df = df_1521.groupby(['ward_n', 'Reported', 'Trust']).size().reset_index(name='Count')
ward_reported_trust_dict = {}
for ward in ward_reported_trust_df['ward_n'].unique():
    ward_pivot_df = ward_reported_trust_df[ward_reported_trust_df['ward_n']==ward].pivot(columns = 'Trust', index='Reported', values='Count')
    ward_pivot_df.fillna(0, inplace=True)
    ward_pivot_df = ward_pivot_df.reindex(columns=trust_column_order, fill_value=0)
    ward_pivot_df = ward_pivot_df.div(ward_pivot_df.sum(axis=1), axis=0)
    ward_reported_trust_dict[ward] = ward_pivot_df

In [220]:
ward_reported_trust_dict['Abbey']

Trust,Strongly agree,Tend to agree,Neither agree nor disagree,Tend to disagree,Strongly disagree
Reported,,,,,
No,0.142857,0.571429,0.214286,0.000000,0.071429
Yes,0.263158,0.526316,0.052632,0.105263,0.052632

In [184]:
total_reported_confidence_df = df_1521.groupby(['Reported', 'Confidence']).size().reset_index(name='Count')
total_reported_confidence_df.pivot(columns = 'Confidence', index='Reported', values='Count').div(total_reported_confidence_df.pivot(columns = 'Confidence', index='Reported', values='Count').sum(axis=1), axis=0)

Confidence  Excellent      Fair      Good      Poor  Very poor
Reported
No           0.066615  0.350891  0.395430  0.132843   0.054222
Yes          0.083416  0.318272  0.392916  0.138530   0.066865

In [ ]:
total_reported_confidence_df

In [190]:
borough_reported_confidence_df = df_1521.groupby(['Borough', 'Borough name', 'Reported', 'Confidence']).size().reset_index(name='Count')
borough_reported_confidence_dict = {}
for borough in borough_reported_confidence_df['Borough name'].unique():
    borough_pivot_df = borough_reported_confidence_df[borough_reported_confidence_df['Borough name']==borough].pivot(columns = 'Confidence', index='Reported', values='Count')
    borough_pivot_df.fillna(0, inplace=True)
    borough_pivot_df = borough_pivot_df.div(borough_pivot_df.sum(axis=1), axis=0)
    borough_reported_confidence_dict[borough] = borough_pivot_df

In [191]:
borough_reported_confidence_dict['Westminster']

Confidence  Excellent      Fair      Good      Poor  Very poor
Reported
No           0.078947  0.302632  0.407895  0.118421   0.092105
Yes          0.083871  0.309677  0.419355  0.109677   0.077419

In [196]:
ward_reported_confidence_df = df_1521.groupby(['ward_n', 'Reported', 'Confidence']).size().reset_index(name='Count')
ward_reported_confidence_dict = {}
for ward in ward_reported_confidence_df['ward_n'].unique():
    ward_pivot_df = ward_reported_confidence_df[ward_reported_confidence_df['ward_n']==ward].pivot(columns = 'Confidence', index='Reported', values='Count')
    ward_pivot_df.fillna(0, inplace=True)
    ward_pivot_df = ward_pivot_df.div(ward_pivot_df.sum(axis=1), axis=0)
    ward_reported_confidence_dict[ward] = ward_pivot_df

In [197]:
ward_reported_confidence_dict['Abbey']

Confidence  Excellent      Fair      Good      Poor  Very poor
Reported
No           0.071429  0.214286  0.571429  0.071429   0.071429
Yes          0.157895  0.315789  0.315789  0.105263   0.105263

In [130]:
total_reported_crime_type_df = df_1521.groupby(['Reported', 'Crime type']).size().reset_index(name='Count')
total_no = total_reported_crime_type_df[(total_reported_crime_type_df['Reported']=='No')].copy()
total_no['Proportion'] = total_no['Count']/total_no['Count'].sum()
total_yes = total_reported_crime_type_df[(total_reported_crime_type_df['Reported']=='Yes')].copy()
total_yes['Proportion'] = total_yes['Count']/total_yes['Count'].sum()
max_not_reported = total_no.loc[total_no['Proportion'].idxmax()]['Crime type']
min_not_reported = total_no.loc[total_no['Proportion'].idxmin()]['Crime type']
max_reported = total_yes.loc[total_yes['Proportion'].idxmax()]['Crime type']
min_reported = total_yes.loc[total_yes['Proportion'].idxmin()]['Crime type']
text = (
    f"For total:\n"
    f"Max not reported: {max_not_reported}\n"
    f"Max reported: {max_reported}\n\n"
)
print(text)

For total:
Max not reported: Anti-Social Behaviour
Max reported: Property crime

In [134]:
borough_reported_crime_type_df = df_1521.groupby(['Borough', 'Borough name', 'Reported', 'Crime type']).size().reset_index(name='Count')
max_borough_reported_crime_type_df = pd.DataFrame(columns=['Borough name', 'Max reported', 'Max not reported'])
for borough in borough_reported_crime_type_df['Borough name'].unique():
    borough_no = borough_reported_crime_type_df[(borough_reported_crime_type_df['Borough name']==borough)&(borough_reported_crime_type_df['Reported']=='No')].copy()
    borough_no['Proportion'] = borough_no['Count']/borough_no['Count'].sum()
    borough_yes = borough_reported_crime_type_df[(borough_reported_crime_type_df['Borough name']==borough)&(borough_reported_crime_type_df['Reported']=='Yes')].copy()
    borough_yes['Proportion'] = borough_yes['Count']/borough_yes['Count'].sum()
    max_not_reported = borough_no.loc[borough_no['Proportion'].idxmax()]['Crime type']
    min_not_reported = borough_no.loc[borough_no['Proportion'].idxmin()]['Crime type']
    max_reported = borough_yes.loc[borough_yes['Proportion'].idxmax()]['Crime type']
    min_reported = borough_yes.loc[borough_yes['Proportion'].idxmin()]['Crime type']
    # text = (
    #     f"For borough {borough}:\n"
    #     f"Max not reported: {max_not_reported}\n"
    #     f"Max reported: {max_reported}\n\n"
    # )
    max_borough_reported_crime_type_df.loc[len(max_borough_reported_crime_type_df)] = [borough, max_reported, max_not_reported]
max_borough_reported_crime_type_df

              Borough name    Max reported       Max not reported
0     Barking and Dagenham  Property crime         Property crime
1                   Barnet  Property crime  Anti-Social Behaviour
2                   Bexley  Property crime  Anti-Social Behaviour
3                    Brent  Property crime  Anti-Social Behaviour
4                  Bromley  Property crime  Anti-Social Behaviour
5                   Camden  Property crime         Property crime
6                  Croydon  Property crime  Anti-Social Behaviour
7                   Ealing  Property crime         Property crime
8                  Enfield  Property crime         Property crime
9                Greenwich  Property crime  Anti-Social Behaviour
10                 Hackney  Property crime  Anti-Social Behaviour
11  Hammersmith and Fulham  Property crime         Property crime
12                Haringey  Property crime  Anti-Social Behaviour
13                  Harrow  Property crime  Anti-Social Behaviour
14                Havering  Property crime         Property crime
15              Hillingdon  Property crime  Anti-Social Behaviour
16                Hounslow  Property crime  Anti-Social Behaviour
17               Islington  Property crime  Anti-Social Behaviour
18  Kensington and Chelsea  Property crime  Anti-Social Behaviour
19    Kingston upon Thames  Property crime  Anti-Social Behaviour
20                 Lambeth  Property crime  Anti-Social Behaviour
21                Lewisham  Property crime         Property crime
22                  Merton  Property crime  Anti-Social Behaviour
23                  Newham  Property crime  Anti-Social Behaviour
24               Redbridge  Property crime         Property crime
25    Richmond upon Thames  Property crime  Anti-Social Behaviour
26               Southwark  Property crime  Anti-Social Behaviour
27                  Sutton  Property crime  Anti-Social Behaviour
28           Tower Hamlets  Property crime  Anti-Social Behaviour
29          Waltham Forest  Property crime         Property crime
30              Wandsworth  Property crime  Anti-Social Behaviour
31             Westminster  Property crime  Anti-Social Behaviour

In [153]:
ward_reported_crime_type_df = df_1521.groupby(['ward', 'ward_n', 'Reported', 'Crime type']).size().reset_index(name='Count')
max_ward_reported_crime_type_df = pd.DataFrame(columns=['Ward name', 'Max reported', 'Max not reported'])
for ward in ward_reported_crime_type_df['ward_n'].unique():
    ward_no = ward_reported_crime_type_df[(ward_reported_crime_type_df['ward_n']==ward)&(ward_reported_crime_type_df['Reported']=='No')].copy()
    ward_no['Proportion'] = ward_no['Count']/ward_no['Count'].sum()
    ward_yes = ward_reported_crime_type_df[(ward_reported_crime_type_df['ward_n']==ward)&(ward_reported_crime_type_df['Reported']=='Yes')].copy()
    ward_yes['Proportion'] = ward_yes['Count']/ward_yes['Count'].sum()
    if not len(ward_no) or not len(ward_yes):
        continue
    max_not_reported = ward_no.loc[ward_no['Proportion'].idxmax()]['Crime type']
    min_not_reported = ward_no.loc[ward_no['Proportion'].idxmin()]['Crime type']
    max_reported = ward_yes.loc[ward_yes['Proportion'].idxmax()]['Crime type']
    min_reported = ward_yes.loc[ward_yes['Proportion'].idxmin()]['Crime type']
    # text = (
    #     f"For borough {borough}:\n"
    #     f"Max not reported: {max_not_reported}\n"
    #     f"Max reported: {max_reported}\n\n"
    # )
    max_ward_reported_crime_type_df.loc[len(max_ward_reported_crime_type_df)] = [ward, max_reported, max_not_reported]
max_ward_reported_crime_type_df

                       Ward name           Max reported       Max not reported
0                          Abbey         Property crime  Anti-Social Behaviour
1                      Becontree         Property crime         Property crime
2                 Chadwell Heath         Property crime  Anti-Social Behaviour
3                      Eastbrook         Property crime         Property crime
4                       Eastbury         Property crime         Property crime
..                           ...                    ...                    ...
607    Purley Oaks & Riddlesdown         Property crime             Hate crime
608  Selsdon & Addington Village         Property crime         Property crime
609    Selsdon Vale & Forestdale         Property crime  Anti-Social Behaviour
610                Shirley South  Anti-Social Behaviour  Anti-Social Behaviour
611                South Croydon                  Other         Property crime

[612 rows x 3 columns]

In [2]:
ward_borough_old

NameError: name 'ward_borough_old' is not defined